:root {
    --dark-color: darkgreen;
    --light-text: white;
    --light-color: lightgreen;
    --warning-color: lightcoral;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Courier Prime", Courier, monospace;
}

/* Body wrapper setting up grid */
.wrapper {
    display: grid;
    grid-template-rows: minmax(min-content, 2rem) minmax(min-content, 4fr) minmax(min-content, 2rem);
    grid-template-columns: 1fr;
    min-height: 100vh;
    min-width: 100%;
}

header, body,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--dark-color);
    color: var(--light-text);
    padding: 1rem;
    font-size: 48px;    
}

main {
    text-align: center;
}

.warning {
    display: none;
    width: 100%;
    font-size: 24px;
    padding: 1rem;
    background-color: var(--warning-color);
    color: white;
}

/* Table of books */
.book-table {
    padding: 1rem;
    align-items: center;
    color: black;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    background-color: burlywood;
    margin: 0 auto;
    min-width: 80%;
    box-shadow: 2px 2px 2px black;
}

th {
    font-size: 24px;
    color: navy;
    background-color: antiquewhite;
    padding: 4px;    
}

td {
    border-style: inset;
    border-color: saddlebrown;
    border-width: 6px;
    padding: 2px;
}

button {
    padding: 4px 16px;
    background-color: var(--light-color);
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
    font-family: "Courier Prime", Courier, monospace;
}

button.remove, #popup-cancel {
    background-color: var(--warning-color);
    border-radius: 8px;
}

main div {
    margin-bottom: 1rem;
}

/* Wrapper to toggle popup form */
#form-wrapper {
    position: relative;
    text-align: center;
    width: 100%;
    display: none;    
}

#new-book-form {    
    border: 2px solid black;
    border-radius: 8px;
    box-shadow: 2px 2px 2px gray;        
    padding: 1rem;
    width: 350px;
    height: auto;
    background-color: ghostwhite;
    text-align: left;    
    position: fixed;
    top: 20%;
    left: 35%;
    z-index: 9;
}

.form-field {
    display: inline-block;
}

.button-field {
    display: flex;
    justify-content: space-between;
}

footer {
    background-color: var(--light-color);
    align-items: center;
}