:root {
    --dark-color: darkgreen;
    --light-text: white;
    --light-color: lightgreen;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Courier Prime", Courier, monospace;
}

.wrapper {
    display: grid;
    grid-template-rows: minmax(min-content, 2rem) minmax(min-content, 4fr) minmax(min-content, 2rem);
    grid-template-columns: 1fr;
    min-height: 100vh;
    min-width: 100%;
}

header, body,
footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: var(--dark-color);
    color: var(--light-text);
    padding: 1rem;
    font-size: 48px;    
}

.book-table {
    padding: 1rem;
    align-items: center;
    color: black;
    font-size: 18px;
}

table {
    border-collapse: collapse;
    background-color: burlywood;
    margin: 0 auto;
    min-width: 80%;
    box-shadow: 2px 2px 2px black;
}

th {
    font-size: 24px;
    color: navy;
    background-color: antiquewhite;
    padding: 4px;    
}

td {
    border-style: inset;
    border-color: saddlebrown;
    border-width: 6px;
    padding: 2px;
}

footer {
    background-color: var(--light-color);
    align-items: center;
}

main {
    text-align: center;
}

button {
    padding: 4px 16px;
    background-color: var(--light-color);
    font-weight: bold;
}

button.remove {
    background-color: red;
    border-radius: 8px;
}

main div {
    margin-bottom: 1rem;
}

.form-popup {
    border: 2px solid black;
    display: none;    
    padding: 1rem;
    width: 200px;
    z-index: 9;
}